# By default, no files are added to the repo
*

# Exclude files we actually want here
!.bash_custom
!.boot/boot.properties
!.boot/profile.boot
!.gitignore
!.gitignore-default
!.gnupg/gpg.conf
!.gnupg/gpg-agent.conf
!.inputrc
!.ssh
.ssh/*
!.ssh/allowed_signers
!.ssh/authorized_keys
!.ssh/config
!.ssh/id_rsa.yubi.pub
!.tmux.conf
!.vimrc
!.zshrc
!001-custom.zsh
!git-completion.bash
