# By default, no files are added to the repo
*

# Don't ignore directories
!*/

# Exclude files we actually want here
!.bash_custom
!.boot/boot.properties
!.boot/profile.boot
!.gitignore
!git-completion.bash
!gitignore-default
!.inputrc
!.screenrc
!.vimrc
